body {
  background-color: rgba(223, 248, 246, 0.854902);
}

.speakers {
  padding-block: 8rem 5rem;
}

.speakers-title {
  background-color: rgba(223, 248, 246, 0.854902);
  text-align: center;
  text-transform: uppercase;
  color: #2480f0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5rem;
}

.speakers__wrapper {
  width: 85%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-inline: auto;
}